<h1>Users info</h1>
<table>
  <head>
    <tr>
      <th><%= image_tag user.get_profile_image(100,100) %></th>
    </tr>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
    <tr>
      <th>
          <%= link_to "editkari", edit_user_path(user.id) %>
      </th>
    </tr>
  </head>
</table>